<!-- <p>service-content works!</p> -->
<!-- <div class="bg-white p-4 shadow-md mt-4 mx-4 rounded-md">
  <h2 class="text-xl font-semibold mb-2">Search for Land Parcel</h2>
  <div class="flex items-center">
    <input
      type="text"
      class="w-full border rounded-md p-2 mr-2"
      placeholder="Enter Land Title Number"
    />
    <button
      class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md"
    >
      Search
    </button>
  </div>
</div> -->
<div id="map"></div>
