<div class="landing">
    <app-header></app-header>
    <section class="sec-1 w-screen h-full relative bg-amber-700 ">
        <div class="flex flex-wrap justify-evenly w-11/12 m-auto mt-20">
            <div class="w-1/2 text-white max-[820px]:w-full">
                <div class="mt-20">
                    <h2 class="text-5xl">REMOTE OBTENSION OF LAND TITLE</h2>
                    <p class="mt-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                        tempor incididut labore et dolore magna aliqua,magna aliqua. 
                        ipsum is simply dummy text of the printing.
                    </p>
                </div>
                <div class="mt-10 xl:flex-row">
                    <button class="bg-sky-800 px-10 py-5 rounded-full">Contact Us</button>
                    <button class="bg-white px-10 py-5 mx-5 text-sky-800 rounded-full">Obtension Procedure</button>
                </div>
            </div>
            <img class="sec-1-illustration mt-20" src="../../../../assets/img/home-illustration.svg"/>
        </div>
        <!-- <img class="absolute w-screen bottom-0 top-70" src="../../../../assets/img/sec-bottom-1.svg" /> -->
    </section>
    <section class="">
        <h2 class="m-auto text-5xl font-semibold text-center max-[870px]:text-4xl">Types of Land Title Request</h2>
        <div class="services-container mt-10 flex flex-row items-center justify-between max-w-full">
            <div class="text-center bg-gray-300 p-6 mb-14 m-auto rounded-md shadow-md w-1/4">
                <img class="m-auto" src="../../../../assets/img/land.jpg"/>
                <h3 class="mt-3 text-lg font-medium">Direct Immatriculation</h3>
                <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididut labore et dolore magna 
                    aliqua,magna aliqua. ipsum is simply dummy text of the printing.
                </p>
                <div class="text-left text-orange-600 font-medium mt-3"><a href="">Read More</a></div>
            </div>
            <div class="text-center bg-gray-300 p-6 mb-14 m-auto rounded-md shadow-md w-1/4">
                <img class="m-auto" src="../../../../assets/img/land.jpg"/>
                <h3 class="mt-3 text-lg font-medium">From and Individual</h3>
                <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididut labore et dolore magna 
                    aliqua,magna aliqua. ipsum is simply dummy text of the printing.
                </p>
                <div class="text-left text-orange-600 font-medium mt-3"><a href="">Read More</a></div>
            </div>
            <div class="text-center bg-gray-300 p-6 mb-14 m-auto rounded-md shadow-md w-1/4">
                <img class="m-auto h-full" src="../../../../assets/img/Flag_of_Cameroon_Flat_Round.png"/>
                <h3 class="mt-3 text-lg font-medium">From the State</h3>
                <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididut labore et dolore magna 
                    aliqua,magna aliqua. ipsum is simply dummy text of the printing.
                </p>
                <div class="text-left text-orange-600 font-medium mt-3"><a href="">Read More</a></div>
            </div>
            <!-- <div class="text-center bg-gray-300 p-6 mb-14 rounded-md shadow-md w-1/4">
                <img class="m-auto" src="../../../../assets/img/agree.jpg"/>
                <h3 class="mt-3 text-lg font-medium">From and Individual</h3>
                <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididut labore et dolore magna 
                    aliqua,magna aliqua. ipsum is simply dummy text of the printing.
                </p>
                <div class="text-left text-orange-600 font-medium mt-3"><a href="">Read More</a></div>
            </div>
            <div class="text-center bg-gray-300 p-6 mb-14 rounded-md shadow-md w-1/4">
                <img class="m-auto" src="../../../../assets/img/coat.png"/>
                <h3 class="mt-3 text-lg font-medium">From the State</h3>
                <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididut labore et dolore magna 
                    aliqua,magna aliqua. ipsum is simply dummy text of the printing.
                </p>
                <div class="text-left text-orange-600 font-medium mt-3"><a href="">Read More</a></div>
            </div> -->
            <!-- <div class="text-center bg-gray-300 p-6 mb-14 rounded-md shadow-md">
                <img class="m-auto" src="../../../../assets/img/software-development.svg"/>
                <h3 class="mt-3 text-lg font-medium">Software Development</h3>
                <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididut labore et dolore magna 
                    aliqua,magna aliqua. ipsum is simply dummy text of the printing.
                </p>
                <div class="text-left text-orange-600 font-medium mt-3"><a href="">Read More</a></div>
            </div>
            <div class="text-center bg-gray-300 p-6 mb-14 rounded-md shadow-md">
                <img class="m-auto" src="../../../../assets/img/data-recovery.svg"/>
                <h3 class="mt-3 text-lg font-medium">Data Recovery</h3>
                <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididut labore et dolore magna 
                    aliqua,magna aliqua. ipsum is simply dummy text of the printing.
                </p>
                <div class="text-left text-orange-600 font-medium mt-3"><a href="">Read More</a></div>
            </div>
            <div class="text-center bg-gray-300 p-6 mb-14 rounded-md shadow-md">
                <img class="m-auto" src="../../../../assets/img/web-development.svg"/>
                <h3 class="mt-3 text-lg font-medium">Web Development</h3>
                <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididut labore et dolore magna 
                    aliqua,magna aliqua. ipsum is simply dummy text of the printing.
                </p>
                <div class="text-left text-orange-600 font-medium mt-3"><a href="">Read More</a></div>
            </div> -->
        </div>
    </section>
    <!-- <section class="mt-10 mb-10 bg-gray-200 py-20">
        <h2 class="w-10/12 m-auto text-green-500 font-medium text-xl">About Our Company</h2>
        <div class="flex justify-evenly flex-wrap w-11/12 m-auto mt-10">
            <div class="w-1/2 max-[870px]:w-11/12 mb-5">
                <P>Providing your business with a quality 
                    IT service is our passion
                </P>
                <div>
                    <div class="mt-10">
                        <h3 class="text-green-500 font-semibold">IT Consulting</h3>
                        <p class="text-right  w-11/12 text-green-400 font-semibold">70%</p>
                        <div class="h-3 w-11/12 bg-gray-400 max-[870px]:w-full">
                            <div class="w-7/12 bg-green-400 h-full"></div>
                        </div>
                    </div>
                    <div class="mt-10">
                        <h3 class="text-green-500 font-semibold">Managed IT Services</h3>
                        <p class="text-right  w-11/12 text-green-400 font-semibold">90%</p>
                        <div class="h-3 w-11/12 bg-gray-400 max-[870px]:w-full">
                            <div class="w-10/12 bg-green-400 h-full"></div>
                        </div>
                    </div>
                    <div class="mt-10">
                        <h3 class="text-green-500 font-semibold">Managed Images</h3>
                        <p class="text-right  w-11/12 text-green-400 font-semibold">90%</p>
                        <div class="h-3 w-11/12 bg-gray-400 max-[870px]:w-full">
                            <div class="w-10/12 bg-green-400 h-full"></div>
                        </div>
                    </div>
                </div>
            </div>
            <img class="expert-img" src="../../../../assets/img/Expert 1.png"/>
        </div>
    </section>
    <section class="pb-10">
        <div class="flex flex-wrap max-[870px]:flex-col-reverse justify-evenly w-11/12 m-auto">
            <img class="choice-img m-auto" src="../../../../assets/img/choice.png"/>
            <div class="w-1/2 max-[870px]:w-11/12 m-auto">
                <h2 class="mt-10 text-xl text-green-500 font-medium">WHY CHOOSE US ?</h2>
                <p class="mt-10 text-3xl font-semibold">Safeguard your brand with 
                    Cyber-Security & IT Solutions
                </p>
                <div class="mt-10 flex justify-between flex-wrap">
                    <div class="font-medium bg-gray-200 py-6 px-7 w-fit rounded-lg border-l-8 border-green-400 mt-8">IT Security Services</div>
                    <div class="font-medium bg-gray-200 py-6 px-7 w-fit rounded-lg border-l-8 border-green-400 mt-8">Remote IT Assistance</div>
                    <div class="font-medium bg-gray-200 py-6 px-7 w-fit rounded-lg border-l-8 border-green-400 mt-8">Manage IT Service</div>
                    <div class="font-medium bg-gray-200 py-6 px-7 w-fit rounded-lg border-l-8 border-green-400 mt-8">Devopment Software    </div>
                    <div class="font-medium bg-gray-200 py-6 px-7 w-fit rounded-lg border-l-8 border-green-400 mt-8">IT Security Service</div>
                    <div class="font-medium bg-gray-200 py-6 px-7 w-fit rounded-lg border-l-8 border-green-400 mt-8">IT Problem Solutions</div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-20 bg-gray-200">
        <h2 class="m-auto text-5xl font-semibold text-center text-green-500 max-[870px]:text-4xl">THE TEAM</h2>
        <div class="mt-10 flex flex-wrap justify-evenly">
            <div class="m-auto text-center member">
                <img class="w-full max-[870px]:w-3/4 m-auto rounded-md" src="../../../../assets/img/Silenou  Jordan.png"/>
                <h3 class="text-xl font-medium mt-3'">Silenou  Jordan</h3>
                <p class="text-green-500">Co-Founder  and CEO</p>
            </div>
            <div class="m-auto text-center member">
                <img class="w-full max-[870px]:w-3/4 m-auto rounded-md" src="../../../../assets/img/Youaleu Frank Loic.png"/>
                <h3 class="text-xl font-medium mt-3'">Youaleu Frank Loic</h3>
                <p class="text-green-500">Co-Founder  and CEO</p>
            </div>
            <div class="m-auto text-center member">
                <img class="w-full max-[870px]:w-3/4 m-auto rounded-md" src="../../../../assets/img/Silenou  Jordan.png"/>
                <h3 class="text-xl font-medium mt-3'">Silenou  Jordan</h3>
                <p class="text-green-500">Co-Founder  and CEO</p>
            </div>
        </div>
    </section>
    <section class="mt-20 barn h-fit w-screen py-20 text-white">
        <h2 class="text-center text-3xl text-green-500 font-semibold">WANT TO WORK WITH US ?</h2>
        <P class="text-center mt-5 text-4xl font-semibold">Digitally transform and grow your business!</P>
        <P class="text-center mt-5 w-1/2 m-auto text-xl">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            consectetur voluptatem accusantium doloremque adipiscing elit.
        </P>
    </section>
    <app-footer></app-footer> -->
</div>