<nav class="fixed top-0 z-50 w-full bg-gray-100 border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-start">
          <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
            <div (click)="showMenu = !showMenu" class="w-6 h-5 flex flex-col justify-between items-center mdl:hidden
            text-4xl text-textGreen cursor-pointer overflow-hidden group gap-2">
                <span class="w-full h-[2px] bg-textBlue inline-flex transform group-hover:translate-x-2
                transition-all ease-in-out duration-300"></span>
                <span class="w-full h-[2px] bg-textBlue inline-flex transform translate-x-3 
                group-hover:translate-x-0 transition-all ease-in-out duration-300"></span>
                <span class="w-full h-[2px] bg-textBlue inline-flex transform translate-x-1 
                group-hover:translate-x-3 transition-all ease-in-out duration-300"></span>
            </div>
           </button>
          <a href="#" class="flex ml-2 md:mr-24">
            <img src="../../../../assets/img/rolt.png" class="h-10 mr-3" alt="FlowBite Logo" />
            <span class="self-center text-1.75rem font-semibold sm:text-2xl whitespace-nowrap dark:text-white">ROLT</span>
          </a>
        </div>
        <div class="flex items-center">
          <div class="flex items-center ml-3">
             <div>
               <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" aria-expanded="false" data-dropdown-toggle="dropdown-user">
                 <span class="sr-only">Open user menu</span>
                   <img class="w-8 h-8 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="user photo">
               </button>
               <div>
                <!-- <p *ngClass="user">{{user.name}}</p> -->
               </div>
             </div>
             <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown-user">
               <div class="px-4 py-3" role="none">
                 <p class="text-sm text-textBlue dark:text-white" role="none">
                   Neil Sims
                 </p>
                 <p class="text-sm font-medium text-textBlue truncate dark:text-gray-300" role="none">
                   neil.sims@flowbite.com
                 </p>
               </div>
               <ul class="py-1" role="none">
                 <li>
                   <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Dashboard</a>
                 </li>
                 <li>
                   <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Settings</a>
                 </li>
                 <li>
                   <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Earnings</a>
                 </li>
                 <li>
                   <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Sign out</a>
                 </li>
               </ul>
             </div>
           </div>
         </div>
      </div>
    </div>
  </nav>
  
  <aside
    class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar"
    [class.transform-x-0]="isSidebarOpen"
    [class.transform-x-full]="!isSidebarOpen"
  >
    <nav class="p-4">
      <ul>
        <li class="my-px">
          <a routerLink="/dashboard/home" routerLinkActive="bg-textBlue text-white" class="flex flex-row items-center h-10 p-4 hover:bg-gray-100 rounded-lg text-gray-700 hover:text-blue-500 ">
            <span routerLinkActive="text-white" class="flex items-center justify-center text-lg text-gray-400 hover:text-blue-500">
              <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                <path
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                />
              </svg>
            </span>
            <span routerLinkActive="text-white" class="ml-3 text-bold">Dashboard</span>
          </a>
        </li>
        <li class="my-4" *ngIf="showCitizenBoard || showNotaryBoard || showLandRegistryBoard">
          <a routerLink="/dashboard/Ownership" routerLinkActive="bg-textBlue" class="block py-2 flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-500 group">
            <svg routerLinkActive="text-white" class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-blue-500 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
              <path d="M18 0H6a2 2 0 0 0-2 2h14v12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Z"/>
              <path d="M14 4H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2ZM2 16v-6h12v6H2Z"/>
           </svg>
           <span routerLinkActive="text-white" class="ml-3">Certificate of Ownership</span>
          </a>
        </li>
        <li class="my-4">
          <a routerLink="/dashboard/application" routerLinkActive="bg-textBlue" class="block py-2 h-10  flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-500 group">
            <span class="flex items-center justify-center text-lg text-gray-400 hover:text-blue-500">
              <svg routerLinkActive="text-white" class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-blue-500 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.96 2.96 0 0 0 .13 5H5Z"/>
                <path d="M6.737 11.061a2.961 2.961 0 0 1 .81-1.515l6.117-6.116A4.839 4.839 0 0 1 16 2.141V2a1.97 1.97 0 0 0-1.933-2H7v5a2 2 0 0 1-2 2H0v11a1.969 1.969 0 0 0 1.933 2h12.134A1.97 1.97 0 0 0 16 18v-3.093l-1.546 1.546c-.413.413-.94.695-1.513.81l-3.4.679a2.947 2.947 0 0 1-1.85-.227 2.96 2.96 0 0 1-1.635-3.257l.681-3.397Z"/>
                <path d="M8.961 16a.93.93 0 0 0 .189-.019l3.4-.679a.961.961 0 0 0 .49-.263l6.118-6.117a2.884 2.884 0 0 0-4.079-4.078l-6.117 6.117a.96.96 0 0 0-.263.491l-.679 3.4A.961.961 0 0 0 8.961 16Zm7.477-9.8a.958.958 0 0 1 .68-.281.961.961 0 0 1 .682 1.644l-.315.315-1.36-1.36.313-.318Zm-5.911 5.911 4.236-4.236 1.359 1.359-4.236 4.237-1.7.339.341-1.699Z"/>
             </svg>
            </span>
            <span routerLinkActive="text-white" class="ml-3 font-bold text-xs">Applications</span>
            <!-- <span class="absolute left-0 top-0 bg-blue-500 h-full w-2 transition duration-200 opacity-0 group-hover:opacity-100"></span>           -->
          </a>
        </li>
        <li class="my-4" *ngIf="showCitizenBoard || showAdminBoard || showLandRegistryBoard || showSubdivisionalOfficerBoard">
          <a routerLink="/dashboard/landtitle" routerLinkActive="bg-blue-500" class="block py-2 flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-500 group">
            <svg routerLinkActive="text-white" class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-blue-500 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 20">
              <path d="M16 14V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 0 0 0-2h-1v-2a2 2 0 0 0 2-2ZM4 2h2v12H4V2Zm8 16H3a1 1 0 0 1 0-2h9v2Z"/>
           </svg>
           <span routerLinkActive="text-white" class="ml-3">Land Titles</span>
          </a>
        </li>
        <li *ngIf="showSubdivisionalOfficerBoard" class="my-px">
          <a routerLink="/dashboard/landregistry" routerLinkActive="bg-textBlue" class="flex flex-row items-center h-10 p-4 rounded-lg text-gray-700 bg-textBlue">
            <span routerLinkActive="text-white" class="flex items-center justify-center text-lg text-white">
              <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                <path
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                />
              </svg>
            </span>
            <span routerLinkActive="text-white" class="ml-3 text-white text-bold">Land Registries</span>
          </a>
        </li>
        <li *ngIf="showAdminBoard" class="my-px">
          <a routerLink="/dashboard/subdivision" routerLinkActive="bg-textblue" class="flex flex-row items-center h-10 p-4 rounded-lg text-gray-700 bg-textBlue">
            <span routerLinkActive="text-white" class="flex items-center justify-center text-lg text-white">
              <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                <path
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                />
              </svg>
            </span>
            <span routerLinkActive="text-white" class="ml-3 text-white text-bold">Sub divisional Officer</span>
          </a>
        </li>
        <li class="my-4">
          <a routerLink="/dashboard/notary" routerLinkActive="bg-textBlue" class="block py-2 flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-blue-500 group">
            <svg routerLinkActive="text-white" class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-blue-500 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
              <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
           </svg>
           <span routerLinkActive="text-white" class="flex-1 ml-3 whitespace-nowrap">Notary</span>
          </a>
        </li>
        <li class="my-4">
          <a routerLink="/dashboard/urbanism" routerLinkActive="bg-textBlue" class="block py-2 flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <svg routerLinkActive="text-white" class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-blue-500 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
              <path d="M18 0H6a2 2 0 0 0-2 2h14v12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Z"/>
              <path d="M14 4H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2ZM2 16v-6h12v6H2Z"/>
           </svg>
           <span routerLinkActive="text-white" class="ml-3">Urbanism</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="absolute bottom-0 left-0 p-4">
      <a routerLink="/dashboard/settings" routerLinkActive="bg-textBlue" class="block py-2 flex flex-row items-center h-10 px-3 rounded-lg text-gray-500 hover:bg-gray-100 hover:text-blue-500 group">
        <span routerLinkActive="text-white" class="flex items-center justify-center text-lg text-gray-400">
          <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
          viewBox="0 0 24 24" stroke="currentColor"class="h-6 w-6">
            <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 
            3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
            />
            <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
          </svg>
        </span>
        <span routerLinkActive="text-white" class="ml-3">Settings</span>
      </a>
      <a href="#" class="block py-2 flex flex-row items-center h-10 px-3 rounded-lg text-gray-500 hover:bg-gray-100 hover:text-blue-500 group">
      <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-blue-500 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"/>
     </svg>
     <span class="flex-1 ml-3 whitespace-nowrap">Logout</span>
    </a>
    </div>
  </aside>
  