
<div class="w-full shadow-navbarShadow h-20 lg:h-[12vh] sticky top-0 z-50 bg-bodycolor px-4">
    <div class="max-w-container h-full mx-auto py-1 font-titleFont flex items-center justify-between">
        <div>
            <img class="w-14" src="../../../../assets/img/rolt.png"/>
        </div>
        <div class="hidden mdl:inline-flex items-center gap-7">
            <ul class="flex text-[15px] gap-7">
                <a routerLink="/" class="flex items-center gap-1 font-medium
                text-white hover:text-textBlue cursor-pointer duration-300 nav-link">
                    <li>Home</li>
                </a>
                <a routerLink="/" class="flex items-center gap-1 font-medium
                text-white hover:text-textBlue cursor-pointer duration-300 nav-link">
                    <li>Services</li>
                </a>
                <a routerLink="/" class="flex items-center gap-1 font-medium
                text-white hover:text-textBlue cursor-pointer duration-300 nav-link">
                    <li>About us</li>
                </a>
                <a routerLink="/" class="flex items-center gap-1 font-medium
                text-white hover:text-textBlue cursor-pointer duration-300 nav-link">
                    <li>Contact Us</li>
                </a>
            </ul>
            <a routerLink="/login">
                <button class="px-4 py-2 rounded-md text-textBlue text-[13] border border-textGreen
                hover:bg-hoverColor duration-300">
                    Login
                </button>
            </a>
        </div>
        <!--  For small screen  -->
        <div class="w-6 h-5 flex flex-col justify-between items-center mdl:hidden
        text-4xl text-textGreen cursor-pointer overflow-hidden group gap-2">
            <span class="w-full h-[2px] bg-textBlue inline-flex transform group-hover:translate-x-2
            transition-all ease-in-out duration-300"></span>
            <span class="w-full h-[2px] bg-textBlue inline-flex transform translate-x-3 
            group-hover:translate-x-0 transition-all ease-in-out duration-300"></span>
            <span class="w-full h-[2px] bg-textBlue inline-flex transform translate-x-1 
            group-hover:translate-x-3 transition-all ease-in-out duration-300"></span>
        </div>
    </div>
</div>